:root {
  --color-healthy: #63c2db;
  --color-infected: #f66654;
  --color-removed: gray;
  --color-accent-1:#FFEEE2;
  --font-1: 'Libre Baskerville', serif;
}

html {
  font-family: var(--font-1);
  font-weight:regular;
  font-size:1em;
  line-height:2em;
  height:100%;
  margin-top:30px;
}

body {
  height:100%;
  margin:0;
  padding:0;
}

.section-text {
  padding:16px 0;
}
p {
  padding:8px 0 16px 0;
  line-height:2;
}
.align-top {
  align-items:flex-start;
}

.align-center {
  align-items:center;
}

.align-bottom {
  align-items:flex-end;
}


.text-center {
  text-align:center;
}

.author {
  color:#aaa;
  font-size:11pt;
  font-weight:400;
  line-height:10px;
}
.navbar {
  display:flex;
  justify-content:space-between;
  align-items:center;
  height:50px;
  background-color:var(--color-accent-1);
}

.navbar ul {
  /* border:1px solid black; */
  display:flex;
  list-style-type: none;
  margin: 0;
  padding:0;
}
.navbar ul li {
  padding-left: 10px;
  padding-right: 10px;
}

a:link {
  text-decoration:none;
  color:black;
}

a:link:hover {
  text-decoration:underline;
}

a:link:visited {
  color:black;
}

.page-container {
  max-width:600px;
  margin:auto;
  padding-bottom:100px;
  /* border:1px solid black; */
}

hr {
  margin:50px 0px;
  opacity:0.5;
}
.lockup {
  padding:5px;
  display:flex;
  align-items:center;
  font-weight:700;

}
.logo {
  width:50px;
  height:40px;
}

.justify-between {
  justify-content:space-between;
}

.justify-center {
  justify-content:center;
}

.justify-start {
  justify-content:flex-start;
}

.justify-end {
  justify-content:flex-end;
}

.controls-top {
  height:60px;
}

.flex-column {
  display: flex;
  flex-direction:column;
}

.flex-row {
  display: flex;
  padding-top:5px;
  padding-bottom:5px;
}


button {
  height:35px;
  min-width:60px;
  max-width:100px;
}

.bold {
  font-weight:700;
}

/* Switch

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 22px;
  margin-right:6px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-group {
  align-items:center;
  font-weight:700;
  margin:0;
  padding:0;
}

.switch:hover {
  opacity: 0.8;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #23001E;
}

input:focus + .slider {
  box-shadow: 0 0 1px #23001E;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.input-box {
  width:50px;
  height:25px;
  background-color:#e7e7e7;
  border:none;
  border-bottom:1px solid gray;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

p.small {
  font-size:11px;
}

.mc-input {
  height:28px;
  width:100%;

}

.mc-subscribe {
  margin-top:15px;
  height:36px;
  padding:0 12px;
  background-color:#FFFFFF;
  border:2px solid black;
  font-weight:700;
  cursor:pointer;
  transition:all 0.3s;

}

.mc-subscribe:hover {
  height:35px;
  background-color: black;
  color:white;
}

@media only screen and (max-device-width: 480px) {
  p {
    font-size:1em;
  }
  .page-container {
    margin:32px;
    max-width:none;
  }
  .mc-input {
    height:60px;
    width:100%; 
    border:1px solid gray;
    font-size:2em;
  
  }

  .mc-input-label {
    font-size:1.8em;
  }

  
  .mc-subscribe {
    margin-top:15px;
    width:100%;
    height:80px;
    padding:0 12px;
    background-color:#FFFFFF;
    border:2px solid black;
    font-weight:700;
    cursor:pointer;
    transition:all 0.3s;
    font-size:2em;
  
  }
  
  .mc-subscribe:hover {
    height:60px;
    background-color: black;
    color:white;
  }
}