
.sim-container {
  width:100%;
  display:block;
  position:relative;
  padding-top:16px;
}

.sim-container canvas.simulation {
  display: block;
  width:100%;
  height:600px;
  border:1px solid rgba(0,0,0,0.5);
}

.sim-container .sim-overlay {
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  background-color: rgba(255,255,255,0.8);
  z-index:10;
  display:none;
  justify-content:center;
  align-items:center;
}

.sim-caption {
  margin:0;
  padding:0;
  font-size:0.8em;
  line-height:20px;
}

#sim-travel-divider {
  width:3px;
  height:100%;
  background-color:rgba(0,0,0,0.3);
  z-index:2;
  position:absolute;
  top:0;
  left:50%;
  display:none;
  justify-content:center;
  align-items:center;
}

.replay-button {
  max-width:32px;
  cursor:pointer;
  background-color:#FFFFFF;
  padding:0;
  margin:0;
}

.replay-button:hover {
  opacity:0.5;
}
.overlay-button {
  all:unset;
  cursor:pointer;
}

.overlay-button:hover {
  color: gray;
}

.chart-container {
  display:flex;
}

.chart-container canvas.status-charts {
  display:block;
  width:100%;
  height:140px;
  border-bottom:1px solid black;
  border-left:1px solid black;
  border-top:none;
  border-right:none;
  flex-grow: 1;
}


.chart-container .legend-group {
  min-width:30%;
  /* border:1px solid black; */
  display:flex;
  flex-direction:column;
  justify-content:flex-end;
  flex-grow:1;
  margin-left:10px;
}

.chart-container .legend {
  padding-bottom:4px;
  padding-top:4px;
  border-bottom:1px solid gray;
  display:flex;
  justify-content:space-between;
  align-items:flex-end;
  line-height:1.5em;
}

.chart-container .legend .label-value {
  font-weight:700;
}

.chart-container .legend-last{
  border-bottom: none;
}

.healthy {
  color: var(--color-healthy);
}

.infected {
  color: var(--color-infected);
}

.removed {
  color: var(--color-removed);
}

@media only screen and (max-device-width:480px) {
  .author {
    font-size:0.6em;
    padding:16px;
  }
  .legend {
    font-size:1.6em;
  }
}